<html>
<head></head>
<body>
<div>
Enter the Text and Number in the field to cipher the text:
<form>
<input name="string" type="text" value="text">
<input type="number" value="number" name="shift">
<input  type="submit" value="shift">
</form>
<p><%= caesar %></p>
</div>
</body>
</html>